.rodape{
  bottom: 0;
  background-color: white;
  font-family: 'TwitterChirp', 'Roboto';
  font-size: 14px;
  font-weight: bold;
  display: flex;
  height: var(--altura-rodape);
  position: fixed;  
  width: 100%;
}

.rodape-btn-lista {
  padding: 16px;
  border-top: 1px solid var(--cinza-claro-2);
  display: flex;
  justify-content: center;
  width: 100%;
}

.rodape-btn-item {
  align-items: center;
  border-radius: 9999px;
  border: 1px solid var(--cinza-claro-2);
  display: flex;
  justify-content: center;
}

.rodape-btn-item a {
  color: inherit;
  text-decoration: none;
}

.btn-inscrever-item {
  margin-left: 12px;
}

@media (max-width:499px) {
  .btn-entrar {
    color: var(--azul-claro);
  }

  .btn-inscrever-item {
    background-color: var(--azul-claro);
  }

  .btn-inscrever {
    color: var(--branco);
  }
}

@media (min-width:500px) {
  .rodape {
    background-color: var(--azul-claro);
  }

  .rodape-btn-item {
    border: 1px solid var(--branco-transparente-2);
    flex-grow: 0;
    width: 170px;
  }

  .btn-entrar {
    color: var(--branco);
  }

  .btn-inscrever-item {
    background-color: var(--branco);
  }
}