.rodape-flutuante{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: var(--altura-rodape);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;

  border: 1px solid;
}

.btn{
  height: 35px;
  width: 150px;
  border-radius: 50px;
}