header{ 
  width: 100%;
  height: var(--altura-topo);
  position: sticky;
  top: 0;
}

header ul{
  align-items: center;
  display: flex;
  gap: 14px;
  justify-content: space-between;
  height: var(--altura-topo);
  padding: 0 20px;
}

.busca-icone-box{
  display: flex;
  gap: 14px;
}

.config-icone-box {
  display: flex;
  justify-items: center;
}

.config-tt,
.explorar-tt{
  display: none;
}

.twitter-icone {
  height: var(--icone-twitter-topo);
  width: var(--icone-twitter-topo);
  display: flex;
  background: url('../img/icones/twitter.svg');
}

@media (max-width: 499px) {
  header {
    position: fixed;    
    top: 0;
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition-timing-function: cubic-bezier(0, 0, 0, 1);
    z-index: 3;
  }

  .config-icone {
    height: 20px;
    width: 20px;
    background: url('../img/icones/config-pontos.svg');
  }

  .topo-menu-item:nth-child(2) {
    display: flex;
    flex: 0 1 315px;
    border-radius: 20px;
    margin-inline: 20px;  
  }

  .topo-menu-item:hover:nth-child(2) {
    outline: 1px solid var(--azul-claro);
  }

  .topo-menu-item:active:nth-child(3) {
    background-color: var(--cinza-claro-2);
    border-radius: 9999px;
    justify-content: center;
    display: flex;
  }

  .busca-box {
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 20px;
    width: 100%;
    padding: 5px 0;
    background-color: #eff3f4;
  }

  .busca-box:hover{
    background-color: white;
  }

  .busca-icone-box {
    padding-left: 25px;
  }

  .busca-icone {
    background: url('../img/icones/busca-cinza.svg') center no-repeat;
    height: 20px;    
    width: 20px;
  }

  .busca-icone-tablet {
    display: none;
  }

  #busca-campo {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
  }
}

@media (min-width:500px) {
  .topo-limite {
    padding: 0 4px;
    height: 100%;
  }

  header {
    width: 15%;
    height: 100%;
  }

  header ul{
    display: flex;
    flex-direction: column;
    height: fit-content;
  }

  #busca-campo {
    display: none;
  }

  .busca-box {
    width: 28px;
  }

  .busca-icone {
    background: url('../img/icones/busca-cinza-escuro.svg') center no-repeat;
    height: 1.75rem;    
    width: 1.75rem;
  }

  .config-icone {
    background: url('../img/icones/engrenagem.svg') center no-repeat;
    height: 1.75rem;    
    width: 1.75rem;
  }

  .config-icone-box {
    width: 28px;
  }

  .topo-menu-item {
    padding: 12px;
    transition-property: background-color, border-radius;
    transition-duration: 300ms;
  }

  .topo-menu-item:hover{
    background-color: var(--cinza-claro-2);
    border-radius: 9999px;
    justify-content: center;
    display: flex;
    cursor: pointer;    
  }
}

@media (min-width:640px) {
  .topo-limite {
    padding: 0 8px;
    margin-left: auto;
    width: 88px;
  }
}

@media (min-width:1280px) {
  header {
    flex: .9;
  }

  header ul {
    align-items: flex-start;
    height: min-content;
    line-height: 20px;
    gap: 15px;
  }

  .topo-limite {
    width: 275px;
  }

  .explorar-tt {
    font-family: system-ui, -apple-system, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin: 0 20px 0 16px;
  }

  .config-tt {
    font-family: 'TwitterChirp', 'Roboto';
    font-weight: 400;
    font-size: 20px;
    margin: 0 20px 0 16px;
    text-decoration: none;
  }

  .config-tt, 
  .explorar-tt {
    display: block;
  }
  
  .config-icone-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .config-icone-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: initial;
  }

  .topo-menu-item:is(:nth-child(2), :nth-child(3)) {
    display: flex;
    align-items: center;
  }
}