@import './header.css';
@import './footer.css';
@import './reset.css';
@import './variaveis.css';

main{  
  border: 1px solid;
  flex-basis: 600px;
}

@media (max-width:499px) {
  main {
    margin-top: var(--altura-topo);
  }
}

@media (min-width:500px){
  main {
    display: flex;
    justify-content: center;
    
  }

  .container {
    display: flex;
  }
}

.terceira-coluna {
  display: none;
}

@media (min-width:1000px) {
  .terceira-coluna {
    display: flex;
    flex: 1;
    justify-content: center;
  }
}