@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import './reset.css';
@import './variaveis.css';
@import './header.css';
@import './main.css';
@import './footer.css';
@import './coluna-lateral.css';

@font-face {
  font-family: 'TwitterChirp';
  font-style: normal;
  font-weight: 400;
  src: url('https://abs.twimg.com/responsive-web/client-web/Chirp-Regular.80fda27a.woff2') format('woff2');
}

@font-face {
  font-family: 'TwitterChirp';
  font-style: bold;
  font-weight: 700;
  src: url('https://abs.twimg.com/responsive-web/client-web/Chirp-Bold.ebb56aba.woff2') format('woff2');
}
  
@font-face{
  font-family:'Google Sans';
  font-style:normal;
  font-weight:400;
  src:url(//fonts.gstatic.com/s/googlesans/v14/4UaGrENHsxJlGDuGo1OIlL3Owps.ttf)format('truetype');
}
  
@font-face{
  font-family:'Google Sans';
  font-style:normal;
  font-weight:500;
  src:url(//fonts.gstatic.com/s/googlesans/v14/4UabrENHsxJlGDuGo1OIlLU94YtzCwM.ttf)format('truetype');
}

.img {
  width: 100%;
  height: auto;
}

@media (min-width:500px){
  .container {
    display: flex;
  }
}

.coluna-lateral {
  display: none;
}

@media (min-width:1024px) {
  .coluna-lateral {
    display: block;
    flex: 1;
  }
}