@import './reset.css';
@import './variaveis.css';
@import './header.css';
@import './main.css';
@import './footer.css';

.img {
  width: 100%;
  height: auto;
}

@media (min-width:500px){
  .container {
    display: flex;
  }
}

.coluna-lateral-direita {
  display: none;
}

@media (min-width:1024px) {
  .coluna-lateral-direita {
    display: flex;
    flex: 1;
    justify-content: center;
  }
}