main{
  flex-basis: 598px;
  position: relative;
}

.post-limite{
  padding: 0 16px;
  height: min-content;
}

.post-colunas {
  display: flex;
}

.thumb-usuario-box {
  margin-right: 12px;
  flex-basis: 40px;
  flex-grow: 0;
}

.post-informacoes-box {
  display: flex;
  flex-direction: column;
}

.thumb-usuario {
  align-items: center;
  border-radius: 9999px;
  display: flex;
  margin-top: 12px;
  overflow: hidden;
  height: 40px;
  width: 40px;
}

.post-separador {
  padding-top: 12px;
  flex-basis: 0;
}

.post-header-box {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2px;
}

.post-nome-item {
  align-items: center;
  display: flex;
  gap: 4px;
}

.post-verificador {
  height: 16px;
  margin-right: 4px;
  width: 16px;
  fill:var(--azul-claro);
}

.post-config-btn-box {
  height: 16px;
  width: 16px;  
}

.post-img-principal-box {
  border-radius: 16px;
  margin-top: 12px;
  overflow: hidden;
}

.post-texto {
  font-size: 15px;
  font-family: "TwitterChirp", "Segoe UI", Helvetica, Arial, sans-serif;
  font-weight: 400;  
  line-height: 20px;  
  overflow-wrap: break-word;  
  position: relative;  
}

.post-img-principal-link {
  display: flex;
}

.post-stat-lista {
  display: flex;
  justify-content: space-around;
  margin-top: 12px;
  max-width: 425px;
}

.post-stat-item {
  color: var(--cinza-escuro-2);
  fill: var(--cinza-escuro-2);
  display: flex;
  justify-content: space-between;
}

.post-stat-icone {  
  width: 1.25rem;
  height: 1.25rem;
}

.post-stat-valor {
  padding-inline: 8px;
}

@media (max-width:499px) {
  main {
    margin-top: var(--altura-topo);
  }

  .barra-explorar-limite {
    display: none;
  }
}

@media (min-width:500px){
  main {
    border-left: 1px solid var(--cinza-claro);
  }
  
  .barra-explorar-limite {
    position: sticky;
    backface-visibility: hidden;
    top: 0;
    z-index: 3;    
  }

  .barra-explorar {
    align-items: center;
    backdrop-filter: blur(12px);
    background: var(--branco-transparente-1);
    border: 1px solid var(--cinza-transparente-1);
    display: flex;
    height: 53px;
    justify-content: space-between;
    padding-inline: 16px;
    transition-timing-function: cubic-bezier(0, 0, 0, 1);
    z-index: 2;
  }

  .explorar-config-icone {
    height: 20px;
    width: 20px;  
  }

  .barra-explorar-texto {
    color: var(--cinza-escuro-3);
    font-weight: 700;
    font-size: 15px;
  }

  .post-nome-nick-lista {
    display: flex;
  }

  .post-stat-lista {
    justify-content: space-between;
  }
}