main{
  flex-basis: 598px;
  position: relative;
}

.post-limite{
  padding: 0 16px;
  height: min-content;
}

.post-colunas {
  display: flex;
}

.thumb-usuario-box {
  margin-right: 12px;
  flex-basis: 40px;
  flex-grow: 0;
}

.post-informacoes-box {
  display: flex;
  flex-direction: column;
  padding-bottom: 6px;
}

.thumb-usuario {
  align-items: center;
  border-radius: 9999px;
  display: flex;
  margin-top: 12px;
  overflow: hidden;
  height: 40px;
  width: 40px;
}

.post-separador {
  padding-top: 12px;
  flex-basis: 0;
}

.post-header-box {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2px;
}

.post-nome-item {
  align-items: center;
  display: flex;
  gap: 4px;
  font-family: 'TwitterChirp';
  font-weight: 700;
  font-size: 15px;
}

.post-verificador {
  display: flex;
  align-items: center;
  margin-right: 4px;
  width: 20px;
  fill:var(--azul-claro);
}

.post-nick, .post-ponto, .post-tempo {
  font-family: 'TwitterChirp', 'Roboto';
  font-weight: 400;
  font-size: 15px;
  color: var(--cinza-escuro-2);
}

.post-config-btn-box {
  height: 16px;
  width: 16px;  
}

.post-img-principal-box {
  border-radius: 16px;
  margin-top: 12px;
  overflow: hidden;
}

.post-texto {
  color: var(--cinza-escuro-3);
  font-size: 15px;
  font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;  
  line-height: 20px;  
  overflow-wrap: break-word;  
  position: relative;  
}

.post-hash {
  color: var(--azul-claro);
}

.post-img-principal-link {
  display: flex;
}

.post-stat-lista-box {
  margin-top: 6px;
  position: relative;
}

.post-stat-lista {
  display: flex;
  justify-content: space-around;
  max-width: 425px;
  position: relative;
}

.post-stat-item {
  color: var(--cinza-escuro-2);
  fill: var(--cinza-escuro-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-stat-item span:nth-child(1) {
  display: flex;
  border-radius: 9999px;
  padding: 10px;
}

.post-stat-comentarios {
  display: flex;
}

.post-stat-item:hover:nth-child(1) .post-stat-comentarios-img-box {
  background-color: var(--azul-claro-transparente);
  fill: var(--azul-claro);
}

.post-stat-item:hover:nth-child(1) .post-stat-valor {
  color: var(--azul-claro);
}

.post-stat-item:hover:nth-child(2) .post-stat-retweets {
  background-color: var(--verde-claro-transparente-1);
  fill: var(--verde-claro-1);
}

.post-stat-item:hover:nth-child(2) .post-stat-valor {
  color: var(--verde-claro-1);
}

.post-stat-item:hover:nth-child(3) .post-stat-likes {
  background-color: var(--rosa-transparente-1);
  fill: var(--rosa-1);
}

.post-stat-item:hover:nth-child(3) .post-stat-valor {
  color: var(--rosa-1);
}

.post-stat-item:hover:nth-child(4) .post-stat-views {
  background-color: var(--azul-claro-transparente);
  fill: var(--azul-claro);
}

.post-stat-item:hover:nth-child(4) .post-stat-valor {
  color: var(--azul-claro);
}

.post-stat-icone {  
  width: 1.25rem;
  height: 1.25rem;
}

@media (max-width:499px) {
  main {
    margin-top: var(--altura-topo);
  }

  .barra-explorar-limite {
    display: none;
  }
}

@media (min-width:500px){
  main {
    border-left: 1px solid var(--cinza-claro);
  }

  .barra-explorar-limite {
    position: sticky;
    backface-visibility: hidden;
    top: 0;
    z-index: 3;    
  }

  .barra-explorar {
    align-items: center;
    backdrop-filter: blur(12px);
    background: var(--branco-transparente-1);
    border: 1px solid var(--cinza-transparente-1);
    display: flex;
    height: 53px;
    justify-content: space-between;
    padding-inline: 16px;
    transition-timing-function: cubic-bezier(0, 0, 0, 1);
    z-index: 2;
  }

  .explorar-config-icone {
    height: 20px;
    width: 20px;  
  }

  .barra-explorar-texto-box {
    color: var(--cinza-escuro-3);
  }

  .barra-explorar-texto {
    font-family: system-ui, -apple-system, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin: 0 20px 0 16px;
  }

  .post-limite:hover {
    background-color: var(--cinza-transparente-2);
    cursor: pointer;
    transition: background-color .2s;
  }

  .post-nome-nick-lista {
    display: flex;
  }

  .post-stat-lista {
    justify-content: space-between;
  }
}