:root{
  /* cores */
  --branco-transparente-1: rgba(255, 255, 255, 0.851);
  --azul-claro: rgb(29, 155, 240);
  --cinza-claro: rgb(239, 243, 244);
  --cinza-claro-2: rgba(15, 20, 25, 0.102);
  --cinza-transparente-1: rgba(255, 255, 255, 0.302);
  --cinza-escuro: rgb(56, 67, 76);
  --cinza-escuro-2: rgb(83, 100, 113);
  --cinza-escuro-3: rgb(15, 20, 25);  
  --preto:#000;

  /* medidas */
  --altura-topo:53px;
} 