:root {
  /* cores */

  --branco: rgb(255, 255, 255);
  --branco-transparente-1: rgba(255, 255, 255, 0.851);

  --azul-claro: rgb(29, 155, 240);
  --azul-claro-transparente: rgba(29, 155, 240, .09);

  --cinza-claro: rgb(239, 243, 244);
  --cinza-claro-2: rgba(15, 20, 25, 0.102);
  --cinza-transparente-1: rgba(255, 255, 255, 0.302);
  --cinza-transparente-2: rgba(15, 20, 25, 0.03);
  --cinza-escuro: rgb(56, 67, 76);
  --cinza-escuro-2: rgb(83, 100, 113);
  --cinza-escuro-3: rgb(15, 20, 25);
  
  --verde-claro-1:rgb(0, 186, 124);
  --verde-claro-transparente-1: rgb(0, 186, 124, 0.1);

  --preto:#000;

  --rosa-1:rgb(249, 24, 128);
  --rosa-transparente-1:rgba(249, 24, 128, 0.1);

  /* medidas */
  --altura-topo:53px;
  --altura-rodape: 65px
}